.comment-section{
    max-width: 900px;
    margin: 30px auto;
    textarea{
        resize: none;
        height: 20vh;
        width: 100%;
        font-size: 1.6rem;
        font-family: inherit;
        padding: 10px 20px;
    }
    button{
        margin: 10px 0;
    }
    .comment{
        margin: 10px 0;
        &-avatar{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: green;
        }
    }
}