.most-viewed{
    background-color: $color-blue;
    color: white;
    &-heading{
        @extend .news-category-heading;
    }
    &-body{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media (max-width: 660px) {
            display: block;
        }
    }
    .card{
        margin: 7.5px;
        &-details{
        background-color: white;
        color: black;
        }
        width: 30%;
        &-1,&-2{
            width: 46%;
        }

        @media (max-width: 660px) {
            display: flex;
            width: 100%;
            .card-img{
                width: 40%;
                img{
                    height: 100%;
                }
            }
            .card-details{
                width: 60%;
            }
            p,h3{
                overflow: none;
                white-space:normal;
            }
        }
    }
}