header .cover{
    background: url(/assets/img/cover.jpg);
    background-position: center;
    // background-size: cover;
    background-repeat:repeat;
    height: 199px;
    background-color: blue;
    width: 100%;
}

.navbar,nav{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid $color-gray;
}
.nav{
    &-item{
        margin: 2rem;
        font-size: 1.8rem;
        font-weight: 400;
        position: relative;
        &:hover{
            color: $color-green;
            border-bottom: 3px solid $color-green;
        }
        // color: #353535;
    }
    &-left{
        display: flex;
        align-items: center;
    }
    &-right{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
nav .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 1100px;
    // overflow-x: auto;
}

.navbar2{
    text-align: center;
    height: 70px;
    color: white !important;
    background-color: $color-gray;
    overflow-x: scroll;
    &-items{
        width: 600px;
        margin: auto;
        display: flex;
    }
    @media screen and (min-width:1100px) {
        display: none;
    }
}