nav{
    height: 60px;
    background-color: $color-dar;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    @media screen and (max-width: 1100px) {
        .container{
            max-width: 990px;
            padding: initial 20px;
        }
    }
    @media screen and (max-width: 800px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media screen and (max-width: 600px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-btns{
        font-size: 1.6rem;
        margin: 0 15px;
        transition: 0.2s all;
        &:hover{
            color: $color-red;
            cursor: pointer;
        }
        &:last-child{
            margin-right: 0;
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
    .search-btn{
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    .user-profile{
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    .menu-icon{
        height: 27px;
        width: 27px;
        display: none;
        // margin-right: 0;
        &:hover{
            cursor: pointer;
        }
        @media (max-width: 800px) {
            display: inline-block;
        }
    }
}