.card{
    width: 100%;
    overflow: hidden;
    &:hover &-img{
        transform: scale(1.03);
    }
    &-img{
        max-height: 230px;
        width: 100%;
        overflow: hidden;
        transition: 0.3s;
        img{
            width: 100%;
        }
    }
    &-details{
        padding: 5px;
        p{
            font-size: 1.5rem;
            line-height: 1.8rem;
            height: 3.6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 880px) {
                font-size: 1.3rem;
            }
            @media (max-width: 400px) {
                display: none;
            }
        }
    }
    &-title{
        font-size: 1.8rem;
        font-weight: 600;
        transition: 0.2s all;
        &:hover{
            color: $color-red;
        }
        @media (max-width: 880px) {
            font-size: 1.6rem;
        }
    }
}