.form{
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    padding: 30px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 10px;
    @media (max-width: 550px) {
        width: 80%;
    }
    input:not([type="checkbox"]){
        display: block;
        padding: 10px 20px;
        border: 1px solid rgb(168, 168, 168);
        margin: 20px 0;
        font-size: 1.6rem;
        width: 100%;
        &:focus{
            outline: none;
        }
        @media (max-width: 600px) {
            margin: 8px 0;
        }
    }
}


// only for login page form

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}