* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media screen and (max-width: 660px) {
  html {
    font-size: 9px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
  font-weight: 600;
  margin: 20px 0;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  margin: 15px 0;
}

h3 {
  font-size: 3.2rem;
  font-weight: 300;
  margin: 10px 0;
}

p {
  font-size: 1.6rem;
  line-height: 23px;
}

.btn, .btn-primary, .btn-primary-transparent {
  font-size: 1.8rem;
  font-family: 'Popins',sans-serif;
  font-weight: 400;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 3px;
  background-color: #bfbfbf;
  border: none;
  cursor: pointer;
}

.btn-primary, .btn-primary-transparent {
  background-color: #d74b1f;
  color: white;
}

.btn-primary:hover, .btn-primary-transparent:hover {
  background-color: #da5e38;
}

.btn-primary-transparent {
  background-color: transparent;
  border: 3px solid #d74b1f;
  border-radius: 3px;
  color: #d74b1f;
}

.btn-primary-transparent:hover {
  background-color: #d74b1f;
  color: white;
}

.badge, .badge-primary, .badge-primary-transparent {
  font-size: 13px;
  padding: 5px 9px;
  margin: 5px;
  border-radius: 2px;
  background-color: #bfbfbf;
  border: none;
  cursor: pointer;
}

.badge-primary, .badge-primary-transparent {
  background-color: #d74b1f;
  color: white;
}

.badge-primary:hover, .badge-primary-transparent:hover {
  background-color: #da5e38;
}

.badge-primary-transparent {
  background-color: transparent;
  border: 3px solid #d74b1f;
  color: #d74b1f;
}

.badge-primary-transparent:hover {
  background-color: #d74b1f;
  color: white;
}

.hide {
  display: none;
}

@media screen and (max-width: 1100px) {
  .hide-on-md {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .hide-on-sm {
    display: none;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header .cover {
  background: url(/assets/img/cover.jpg);
  background-position: center;
  background-repeat: repeat;
  height: 199px;
  background-color: blue;
  width: 100%;
}

.navbar, nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 5px solid #222222;
}

.nav-item {
  margin: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
}

.nav-item:hover {
  color: #17b978;
  border-bottom: 3px solid #17b978;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  width: 1100px;
}

.navbar2 {
  text-align: center;
  height: 70px;
  color: white !important;
  background-color: #222222;
  overflow-x: scroll;
}

.navbar2-items {
  width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1100px) {
  .navbar2 {
    display: none;
  }
}

.footer {
  min-height: 450px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  color: white;
}

@media screen and (max-width: 1100px) {
  .footer .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 660px) {
  .footer .container {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .footer-about {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

.footer-post-card {
  width: 330px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

.footer-post-card img {
  height: 60px;
  width: auto;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.footer-post-card:hover h4 {
  color: #d74b1f;
}

.footer-post-card:hover img {
  height: 63px;
}

.footer-post-category li {
  list-style: none;
  border-bottom: 1px solid white;
  margin-top: 20px;
  padding-bottom: 10px;
}

.footer-credits {
  background-color: #151515;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.trending {
  margin-top: 30px;
}

.trending-title {
  border: 1px solid gray;
  padding: 5px;
  border-left: 10px solid #17b978;
  color: #17b978;
  background-color: white;
}

.trending-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  height: 440px;
}

@media screen and (max-width: 900px) {
  .trending-section {
    display: block;
    height: auto;
  }
}

.trending-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: green;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .trending-card {
    height: 300px;
  }
}

.trending-card-1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.trending-card h3 {
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  bottom: 25px;
  left: 5px;
  padding: 4px;
}

.trending-card h3:hover {
  color: #17b978;
}

.trending-card-date {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  left: 5px;
  bottom: 2px;
  padding: 4px;
}
/*# sourceMappingURL=styles.css.map */