*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    @media screen and(max-width: 660px) {
        font-size: 9px;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}